@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

@layer utilities {
  .custom-sidebar-menu > .ant-menu-item,
  .custom-sidebar-menu > .ant-menu-submenu > .ant-menu-submenu-title {
    color: #6b7a99 !important;
    font-weight: 700 !important;
    font-size: 15px !important;
  }
  .custom-sidebar-menu .ant-menu-submenu .ant-menu-item {
    color: #6b7a99 !important;
  }

  .text-balance {
    text-wrap: balance;
  }

  .custom-sidebar-menu .ant-menu-item:hover {
    background-color: #1565c0 !important;
    border-radius: 10px !important;
    color: #f5f5f5 !important;
  }

  .custom-sidebar-menu .ant-menu-submenu-title:hover {
    background-color: #1565c0 !important;
    border-radius: 10px !important;
    color: #f5f5f5 !important;
  }

  .custom-sidebar-menu .ant-menu-item:hover .ant-menu-item-icon,
  .ant-menu
    .custom-sidebar-menu
    .ant-menu-submenu-title:hover
    .ant-menu-item-icon {
    color: #f9f9f9 !important;
  }
  .custom-sidebar-menu .ant-menu-item,
  .ant-menu,
  .custom-sidebar-menu .ant-menu-submenu,
  .ant-menu-sub ant-menu-inline {
    background-color: #f9f9f9 !important;
  }

  .custom-sidebar-menu .ant-menu-item {
    margin-bottom: 10px;
  }
.tagOption{
  color:#7D8FB3 !important;
}
  .layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .fixed-header {
    height: 60px;
    background-color: #1565c0;
    flex-shrink: 0;
  }
  .compact-row {
    height: 32px; /* Adjust row height for compact spacing */
  }
  .text{
    font-size: '12px !important';
  }
  .card1 .ant-table-cell {
    padding: 4px 8px; /* Further reduce cell padding */
  }
  .content {
    flex-grow: 1;
  }

  .custom-sidebar-menu .ant-menu-item,
  .custom-sidebar-menu .ant-menu-submenu-title {
    background: transparent !important;
  }
  .ant-menu {
    background: #fff !important;
  }
  /* @media (max-width: 425px) and (min-width: 425px) {
    .card1 {
      margin-right: 0px;
      width: 377px;
      margin-right: 0px !important;
     padding: 0px !important;    
      overflow-x: auto !important;
    
    
      
    }

  } */
@media (min-width: 768px) and (max-width: 768px) {
  .card1 {
    width: 500px !important;
    margin-right: -9px !important;
  }
}

@media (max-width: 1024px)  {
  .mab {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}





 
    
  
  @media (max-width: 425px) {
    .responsive-width {
      width: 350px !important;
    }
    .responsive-text-center {
      text-align: center;
    }
  }

  @media (max-width: 320px) {
    .responsive-width {
      width: 290px !important;
    }
    .secondCard-responsive {
      width: 292px !important;
    }
    .responsive-text-center {
      text-align: center;
    }
    .card1{
      margin-right: 0px !important;
      width: 245px !important;
    }
  }

  @media (max-width: 768px) {
    .hide-tone-column .ant-table-cell:nth-child(3),
    .hide-tone-column .ant-table-thead > tr > th:nth-child(3) {
      display: none;
    }
  }
  @media (max-width: 768px) {
    .borderLine {
      display: none;
    }
  }
  @media (min-width: 1024px) and (max-width: 1024px) {
    .custom-max-w-748 {
      max-width: 748px;
    }
  }

  .custom-modal .ant-modal-close {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) {
  .custom-max-w-748  {
    max-width: 748px;
    
  }
  .card1
    {
     padding:0px !important;
  }

}
@media (min-width: 360px) and (max-width: 400px) {
  .card1 {
    width: 295px !important;
    padding: 2px !important;
  }
}


@media (max-width: 600px) and (min-width: 425px) {
  .responsive-width {
    width: 400px !important;
  }
  .card1 {
    margin-right: 0px;
    width: 345px;
    margin-right: 0px !important;
   padding: 0px !important;    
    /* overflow-x: auto !important; */
  
  
    
  }
}

@media (min-width: 425x) and (max-width: 425) {
  .table-class {
    width: 400px;
  }
}

@media (max-width: 375px) {
  .responsive-avatar-container {
    margin-left: 20px;
  }


  .username {
    font-size: 10px;
  }
  @media (max-width: 600px) and (min-width: 425px) {
    .responsive-width {
      width: 400px !important;
    }
    
  }
}
  



  


  
  


