.custom-modal .ant-modal-content {
    padding: 0 !important;
    margin: 0 !important;
    width:795px !important;
    /* height: 500px !important;
    max-height: 180vh !important;
    overflow-y: auto !important; */
    border-radius: 25px !important;
  }
  
  .custom-modal .ant-modal-body {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 25px !important;


   
  }
  